* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    font-family: sans-serif;
    background-color: #f5f5f5;
}

header {
    & > h1 {
        font-size: 3em;
        text-align: center;
        padding: 0.5%;        
    }
}

main {
    width: 100%;
    height: 87.5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    & > form {
        height: 100%;
        aspect-ratio: 1/1;
    }

    & > div.info {
        height: 100%;
        aspect-ratio: 2/3;
        border: 5px solid black;
        background-color: darkkhaki;
        padding: 1%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        
        & span {
            text-decoration: underline;
            font-size: 2.15;
            &.blanca {
                color: #f5f5f5;
            }
        }
        & > h2 {
            text-align: center;
            font-size: 2em;
        }

        & > div.piezasMuertas {
            width: 100%;
            height: 50%;
            margin: auto 0;
            
            & > h2 {
                border-top: 5px solid black;
                border-right: 5px solid black;
                border-left: 5px solid black;
                text-align: center;
                font-size: 2em;
                padding: 1%;
                height: 12.5%;
            }

            & > div {
                position: relative;
                float: left;
                width: 50%;
                height: 87.5%;
                border: 5px solid black;

                & > h2 {
                    border-bottom: 5px solid black;
                    padding: 1%;
                    text-align: center;
                }

                &.blanca {
                    border: 5px solid black;
                    background-color: #474747;
                }

                &.negra {
                    background-color: #f5f5f5;
                }

                & i {
                    position: relative;
                    font-size: 2em;
                }
            }
        }

        & > form {
            margin-top: auto;
            width: 40%;
            height: 7.5%;
            & > button {
                font-size: 1.5em;
                width: 100%;
                height: 100%;
                background-color: rgb(92, 87, 21);
                border: 2px solid black;
                border-radius: 10px;
                color: #f5f5f5;
                cursor: pointer;
            }
        }
    }
}

footer {
    height: 2.5%;
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 0;
}

table {
    height: 100%;
    width: 100%;
    aspect-ratio: 1/1;
    border: 5px solid black;
    border-collapse: collapse;
    & > tbody {
        width: 100%;
        height: 100%;
        & > tr {
            & > td {
                position: relative;
                aspect-ratio: 1/1;
                width: 5%;
                height: 5%;
                text-align: center;
                
                & > i {                    
                    font-size: 2vw;
                    position: relative;
                    z-index: 2;
                }

                & > button {
                    position:absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                    z-index: 1;

                    &.movimiento {
                        background-color: rgba(0, 255, 255, 0.434);
                    }

                    &.matar {
                        background-color: rgb(178, 34, 34,0.5);
                    }

                    &.seleccionarFicha {
                        opacity: 0;
                    }
                }
            }
            
            &:nth-of-type(odd) > td:nth-of-type(odd), &:nth-of-type(even) > td:nth-of-type(even) {
                background-color:#EEEED2;
            }

            &:nth-of-type(odd) > td:nth-of-type(even), &:nth-of-type(even) > td:nth-of-type(odd) {
                background-color: peru;
            }
        }
    }
    
}